/* Broad HTML Tags ( <h1>, body, etc.) */

body {
    font-family: 'Warband';
    text-shadow: 3px 3px black;
    color: var(--text);

    background: var(--metal);
    border: 4px solid var(--metal-dark);
    min-width: 1400px;
    min-height: 1400px;
}

.full-content-block {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 4fr) minmax(0, 1fr);
    row-gap: none;
    gap: 1rem;
    box-sizing: border-box;

    height: 80dvh; /* dynamic veiwport height */
    width: 95%;
    max-width: 1400px;
    max-height: 1400px;
    min-height: 1150px;
    min-width: auto;

    padding: 20px;
    margin-bottom: 45px;
    
    justify-self: center;
    background-color: var(--metal-dark);
    border: 8px solid var(--outline);
}

.sprite-button img{
    height: 64px;
    width: 64px;
    border-radius: 20px;
}

.sprite-button img:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--outline);
}

.sprite-button img:active {
    transform: scale(0.95);
    filter: brightness(0.8);
    box-shadow: inset 0 0 5px black;
}

.sprite-img img{
    height: 64px;
    width: 64px;  
}

.sprite-img img:hover {
    transform: scale(1.05);
    cursor: grab;
}

.sprite-img img:active {
    transform: scale(0.95);
    filter: brightness(0.5);
    cursor: grabbing;
}

/* Box around the slider */
.switch {
    position: relative;
    display: block;
    width: 80px;
    height: 34px;
    margin: 0 auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button);
    box-shadow: 0 0 0 3px var(--outline);
    -webkit-transition: .4s;    /* included for older browsers */
    transition: .4s;
    opacity: 0.7; 
}

.toggle-slider:hover {
    opacity: 1; 
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--title);
    -webkit-transition: .4s;    
    transition: .4s;
}

/* CSS selector: selects input element only when it is checked and belongs to slider */
/* Moves the slider to the right when checkbox is checked */
input:checked + .toggle-slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

.toggle-slider.round {
    border-radius: 34px;
}

.toggle-slider.round:before {
    border-radius: 50%;
}

.range-slider-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.range-slider {
    appearance: none;
    width: 100%;
    height: 15px;
    background: transparent;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

.range-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.range-slider::-webkit-slider-runnable-track {
  height: 15px;
  border-radius: 5px;
  background: var(--button);
  box-shadow: 0 0 0 3px var(--outline);
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
  background: var(--title); 
  cursor: pointer; 
  margin-top: -5px;
  position: relative;
}

.range-slider::-moz-range-track {
  height: 15px;
  border-radius: 5px;
  background: var(--button);
  box-shadow: 0 0 0 3px var(--title);
}

.range-slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
  background: var(--title); 
  cursor: pointer; 
  border: none;
}