/* Broad HTML Tags ( <h1>, body, etc.) */

body {
    font-family: 'Warband';
    text-shadow: 3px 3px black;
    color: var(--text);

    background: var(--metal);
    border: 4px solid var(--metal-dark);
    min-width: 1450px;
    min-height: 1350px;
}

.full-content-block {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 4fr) minmax(0, 1fr);
    gap: 1rem;
    box-sizing: border-box;

    height: 1300px;
    width: 1400px;

    padding: 20px;
    margin-bottom: 45px;
    
    justify-self: center;
    background-color: var(--metal-dark);
    border: 10px solid rgb(21, 24, 20);
}

.sprite-button img{
    height: 64px;
    width: 64px;
    border-radius: 20px;
}

.sprite-button img:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--outline);
}

/* when pressed */
.sprite-button img:active {
    transform: scale(0.95);
    filter: brightness(0.8);
    box-shadow: inset 0 0 5px black;
}

.sprite-draggable {
    position: relative;
}

.sprite-draggable img{
    height: 64px;
    width: 64px;  
}

.sprite-draggable img:hover {
    transform: scale(1.05);
    cursor: grab;
}

.sprite-draggable img:active {
    transform: scale(0.95);
    filter: brightness(0.5);
    cursor: grabbing;
}

/* Box around the toggle slider */
.switch {
    /* position relative allows for .toggle-slider to be placed relative to the .switch instead of the whole page */
    position: relative;
    display: block;

    width: 80px;
    height: 34px;
    
    margin: 0 auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* outer toggle track */
.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor: pointer;
    
    background-color: var(--button);
    box-shadow: 0 0 0 3px var(--outline);

    -webkit-transition: .4s;    /* included for older browsers */
    transition: .4s;
    opacity: 0.7; 
}

.toggle-slider:hover {
    opacity: 1; 
}

/* switch thumb (little circle inside track) */
.toggle-slider:before {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;

    content: ""; /* needed for obj to appear */
    
    background-color: var(--title);

    -webkit-transition: .4s;    
    transition: .4s;
}

/* When underlying checkbox is selected, style the :before element that comes after input */
/* '+' denotes immediate sibling */
/* Moves the slider to the right when checkbox is checked */
input:checked + .toggle-slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

.toggle-slider.round {
    border-radius: 34px;
}

.toggle-slider.round:before {
    border-radius: 50%;
}

.toggle-tooltip {
    position: absolute;
    top: -25px;
    color: var(--text);
    border-radius: 4px;
}

.range-slider-container {
    width: 80%;
    margin: 0 auto;

    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;
}

.range-slider {
    appearance: none;

    width: 100%;
    height: 15px;

    background: transparent;
    opacity: 0.7; 

    -webkit-transition: .2s; 
    transition: opacity .2s;
}

.range-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* :: selects the runnable track pseudo-element */
.range-slider::-webkit-slider-runnable-track {
  height: 15px;
  border-radius: 5px;
  background: var(--button);
  box-shadow: 0 0 0 3px var(--outline);
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
  background: var(--title); 
  cursor: pointer; 
  margin-top: -5px;
  position: relative;
}

.range-slider::-moz-range-track {
  height: 15px;
  border-radius: 5px;
  background: var(--button);
  box-shadow: 0 0 0 3px var(--title);
}

.range-slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
  background: var(--title); 
  cursor: pointer; 
  border: none;
}

.range-tooltip {
    position: absolute;
    top: -35px;
    background-color: var(--panel);
    color: var(--text);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 20px;
    transform: translateX(-50%);

    /* no mouse interactions will pass through */
    pointer-events: none;

    display: none;
}
