/* Centered Map Area */

.map-area {
    min-width: 0px;
    min-height: 0px;
    width: 940px;
    height: 940px;

    border: 4px solid var(--outline);
    background-color: var(--panel);
    object-fit: cover; /* resizes the img to fill */
    padding: 0;
    margin: 0;

    position: relative;
}

#mapCanvas {
    display: block;
    width: 940px;
    height: 940px;
    padding: 0;
    margin: 0;
}

.coordinate-box {
    font-family: "BlackOps";
    font-size: x-large;
}
